body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
color: #0f141e;
background: #f1f1f1;
}


.avatar {
    width: 200px;
    border-radius: 27px;
    box-shadow: 4px 4px 14px rgba(red, green, blue, alpha);
    padding-right: 20px;
    display: flex;
}
.info {
    margin-bottom: 40px;
    
    display: flex;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

.conteiner {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
   
}


.card {
    padding: 0px 15px;
    border: 1px solid black;
    border-radius: 20px;
    background: #fff; 
}

.card h2 {
    margin-bottom: 10px;
}
.bg-yellow {
    text-align: left;

background: #fff9dc;
}
.bg-red{
background: #ffe5e5;
margin-top: 10px;
}

.bg-green {
    background: #e5ffe7;
    margin-top: 10px;
}
a {
    color: #333;
    text-decoration: none;
    transition: all .2s;
}
a:hover {
 
    text-decoration: underline;  
}

a:active {
    color: blue;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
   opacity: 0.8;
}

.list {
    padding: 0 20px;
}

.list li {
    color: rgb(57, 53, 53);
    margin-bottom: 10px;
}
.table {
    width: 100%;
}
.table td {
    padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.form h2{
    text-align: center;
}
.form-row{
    margin-bottom: 10px;
    display: flex;
}
.form-row .form-group{
    display: inline-block; 
    margin-right: 20px;
    width: 46%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}
.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    font-family: inherit;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
        text-align: center;
    }
}